/* Fonts en alle kleuren */
* {
    --primary-color: #007BFF;
    --secondary-color: #2ECC71;
    --tertiary-color: #F1C40F;
    --background-color: #F7F7F7;
    --navbar-footer-bg: #333333;
    --main-text-color: #222222;
    --secondary-text-color: #777777;
    --success-color: #28A745;
    --error-color: #DC3545;
    --info-color: #17A2B8;
    /* Hoe: background-color: var(--primary-color: #007BFF); */
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Montserrat:wght@500&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.admin-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    color: var(--background-color);
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.admin_links {
    color: var(--info-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--secondary-text-color);
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.actions a {
    margin-right: 5px;
}

