/* Fonts en alle kleuren */
* {
    --primary-color: #007BFF;
    --secondary-color: #2ECC71;
    --tertiary-color: #F1C40F;
    --background-color: #F7F7F7;
    --navbar-footer-bg: #333333;
    --main-text-color: #222222;
    --secondary-text-color: #777777;
    --success-color: #28A745;
    --error-color: #DC3545;
    --info-color: #17A2B8;
    /* Hoe: background-color: var(--primary-color: #007BFF); */
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Montserrat:wght@500&display=swap');

/* Preloader */
    .loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        padding-top: 25%;
        height: 100vh;
        display: flex;
        align-tracks: center;
        justify-content: center;
        background: var(--main-text-color);
        z-index: 1000;
        transition: opacity 0.75s, visibility 0.75s;
    }

    .loader--hidden {
        opacity: 0;
        visibility: hidden;
    }

    .loader::after {
        content: "";
        width: 75px;
        height: 75px;
        border:  15px solid #DDDDDD;
        border-top-color: #009578;
        border-radius: 50%;
        animation: loading 0.75s ease infinite;
        z-index: 1000;
    }

    @keyframes loading {
        from { transform:  rotate(0turn) ;}
        to { transform:  rotate(1turn) ;}
    }

/* Alles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--navbar-footer-bg);
}

html {
    scroll-behavior: smooth;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    width: 5.3vw;
    border-radius: 30px;
    scale: 1;
}

.logo:hover {
    transform: rotate(360deg);
    transition: all 0.7s ease-out 0s;
    scale: 1.1;
    border: solid var(--success-color) 1px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: var(--tertiary-color);
}

.active {
    color: var(--secondary-color);
}

.loginbutton {
    padding: 9px 25px;
    background-color: var(--success-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.loginbutton:hover {
    background-color: var(--secondary-color);
}

/* Main */
/* Listings */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--navbar-footer-bg);
}

.main-title {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    color: var(--primary-color);   
}

.grid-item {
    flex: 1 1 calc(33.333% - 20px);  
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 1rem;
    text-align: center;
    background-color: var(--navbar-footer-bg);
    transition: ease 0.3s all;
    border: solid 2px var(--primary-color);
}

.grid-item:hover {
    scale: 1.03;
    border: solid 3px var(--info-color);
    filter: brightness(110%);
}

.grid-item:hover img {
    transform: scale(1.03);
    transition: ease 0.3s all;
}


.grid-item img {
    max-width: 100%;
    border-radius: 10px;
}

.grid-item h2 {
    margin-top: 1rem;
    color: var(--primary-color);  
    font-family: "Montserrat", sans-serif;
}

.grid-item a {
    display: inline-block;
    margin-top: 0.5rem;
    color: var(--info-color);  
    transition: all 0.3s ease;
    font-family: "Montserrat", sans-serif;
}

.grid-item a:hover {
    color: var(--primary-color);
}

/* Informatie */

.custom-hr {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    margin: 3rem 0;
}

.info-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.info-content {
    flex: 1;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.info-content > h2 {
    font-size: 38px;
    color: var(--primary-color);
}

.info-content > p {
    font-size: 20px;
    max-width: 40vw;
    color: var(--info-color);
}

.info-content > p > a {
    font-size: 20px;
    max-width: 40vw;
    color: var(--primary-color);
    filter: opacity(0.9);
}

.info-content > p > a:hover {
    transition: all 0.1s ease-in;
    filter: opacity(1.0);
}

.slideshow-container {
    flex: 1;
    position: relative;
    max-height: 275vw;
    overflow: hidden;
    border: solid 2px var(--info-color);
    transition: all ease-in 0.2s;
}

.slideshow-container:hover {
    border: solid 2px var(--tertiary-color);
    scale: 1.03;
    cursor: crosshair;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

/* Footer */
footer {
    position: relative;
    width: 100%;
    background: #3586FF;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

footer .social_icon,
footer .menu {
    position: relative;
    background-color: #3586FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li {
    list-style: none;
    background-color: #3586FF;
}

footer .social_icon li a {
    background-color: #3586FF;
    border-radius: 50%;  
    display: inline-block;
    padding: 10px;  
    transition: background-color 0.3s ease;
}

footer .social_icon li a:hover {
    background-color: #2a6fca; 
}


footer .social_icon li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    background-color: #3586FF;
}

footer .menu li a:hover {
    opacity: 1;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
    background-color: #3586FF;
    font-family: "Montserrat", sans-serif;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../MEDIA/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

.social_icon li a ion-icon {
    background-color: #3586FF;
    padding: 8px;
    border-radius: 50%; 
    scale: 2.2;
    color: white;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_2 {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

.titel-overons {
    padding-bottom: 10px;
}

.popup {
    position: fixed;
    top: 50%;
    right: -100%; 
    width: 300px;
    padding: 10px;
    background: var(--primary-color);
    color: var(--info-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: right 0.5s; 
    z-index: 1001; 
}

.closePopup {
    float: right;
    background: none;
    border: none;
    font-size: 1.5rem;
    margin-right: 5px;
    cursor: pointer;
    background-color: var(--navbar-footer-bg);
}

.popup-active {
    right: 20px;
    transition: right 0.5s; 
}

.popup-text {
    padding: 18px;
    font-size: 0.9em;
    font-family: "Montserrat", sans-serif;
}